body{
    background-color: black;
}
.titulo{
    font-size: 50px;
    display: flex;
    color:white;
    justify-content: center;
    margin:50px;
}
.descripcion{
    display:flex;
    color:white;
    justify-content: center;
    text-align: center;
}